.container.about-page {
  padding: 0;
  .about-row {
    padding-top: 0vh;
    height: 80vh;
    width: calc(100vw - 20%);
    padding-left: 20%;

    .about-text {
      height: 100%;
      @media (max-width: 768px) {
        height: auto;
        margin: 20px 0;
      }
      .about-text-zone {
        position: absolute;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        width: 90%;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        h1 {
          font-size: 53px;
          font-family: 'Coolvetica';
          color: #ae4739;
          font-weight: 400;
          margin-top: 0;
          position: relative;
          margin-bottom: 20px;
        }

        p {
          font-size: 20px;
          color: black;
          font-family: sans-serif;
          font-weight: 300;
          max-width: fit-content;
        }
      }
    }

    .image-wrapper-uw {
      vertical-align: middle;
      display: inline-block;
      @media (min-width: 768px) {
        margin-top: 5vh;
      }
      .uwpic {
        height: 80%;
        object-fit: cover;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;

        @media (min-width: 768px) {
          top: 50%;
          height: 60%;

          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
        }
        @media (max-width: 768px) {
          transform: translateY(10vh);
        }
      }
    }
  }
  .projects-row {
    width: calc(100vw - 5px);
    background-color: #333231;
    display: inline-block;
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10vh;
    padding-left: 20%;
    padding-right: 20%;

    .proj {
      transform: translateY(5vh);
      height: 15vh;
      font-size: 53px;
      font-family: 'Coolvetica';
      color: white;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 20px;
      .slideshow {
        padding-left: 0;
      }
    }
  }
}
