.nav-bar {
  background: #181818;
  width: 5%;
  height: 100%;
  position: fixed;
  top: 0;
  vertical-align: middle;

  z-index: 3;
  @media (max-width: 1500px) {
    width: 6.5%;
  }
  @media (max-width: 1200px) {
    width: 7%;
  }
  @media (max-width: 992px) {
    width: 8.5%;
  }
  @media (max-width: 768px) {
    width: 8.5%;
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      position: relative;
      text-decoration: none;
      height: 80px;

      @media (max-width: 1500px) {
        height: 75px;
      }
      @media (max-width: 1200px) {
        height: 70px;
      }
      @media (max-width: 992px) {
        height: 65px;
      }
      @media (max-width: 768px) {
        height: 55px;
      }
      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        svg {
          opacity: 0.2;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: ' ';
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        transform: translateY(-95%);
        
        @media (max-width: 1500px) {
          font-size: 11px;
        }
        @media (max-width: 1200px) {
          font-size: 10px;
        }
        @media (max-width: 992px) {
          font-size: 9px;
        }
        @media (max-width: 768px) {
          font-size: 9px;
        }
      }

      &.home-link {
        &:after {
          content: 'HOME';
        }
      }

      &.about-link {
        &:after {
          content: 'ABOUT';
        }
      }

      &.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }

      &.resume-link {
        &:after {
          content: 'RESUME';
        }
      }

      &.active {
        svg {
          color: white;
        }
      }
    }
  }

  ul {
    bottom: 20px;
    width: 100%;
    display: block;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    position: absolute;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: white;
        }
        
      }
    }
  }
}

.ico{
  height: 1.2em;
}
.ico2{
  height: 1.2em;
}
@media (max-width: 1200px) {
  .ico {
    height: 1.1em;
  }
}
@media (max-width: 992px) {
  .ico {
    height: 1em;
  }
}
@media (max-width: 768px) {
  .ico {
    height: 0.8em;
  }
}
@media (max-width: 1200px) {
  .ico2 {
    height: 1.2em;
  }
}
@media (max-width: 992px) {
  .ico2 {
    height: 1em;
  }
}
@media (max-width: 768px) {
  .ico2 {
    height: 0.8em;
  }
}
